# Environnements virtuels
.env/
.venv/

# Paramètres d'environnement
.env

# Dépendances
/node_modules
/.pnp
.pnp.js

# Logs
*.log
logs/

# Base de données SQLite (si utilisée)
*.sqlite3

# Fichiers compilés Python
*.pyc
__pycache__/

# Cache d'environnement Python
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
db.sqlite3
/staticfiles/
/media/

# Fichiers divers
.DS_Store
